<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>&quot;We need access to your location to show speed limit information even when the app is in the background.&quot;</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to calculate your speed and get nearby traffic info.</string>
</dict>
</plist>
